body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding-top: 70px;
}

.nav {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px #777;
}

.nav,
.nav a {
  color: #45afb1;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav div,
.nav li {
  display: inline-block;
}

.nav .title {
  margin-left: 10px;
}

.nav .links {
  float: right;
  padding: 10px 0;
  margin-right: 10px;
}

.nav li {
  margin-left: 15px;
}

.hero {
  width: 100%;
  background: #45afb1;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 4em;
}

.hero p {
  font-size: 1.4em;
}

.hero h1,
.hero p {
  margin: 0;
}

.hero a {
  display: inline-block;
  padding: 20px 10px;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 20px;
  text-decoration: none;
  transition: .2s;
  font-size: 1.2em;
}

.hero a:hover {
  background: white;
  color: #45afb1;
}
