
/*********/
/* FONTS */

/*********/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);


/***************/
/* MAIN STYLES */
/***************/

html {
  height: 100%;
}

html,
body {
  position: relative;
  padding-bottom: 100px;
}

body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding-top: 70px;
  min-height: 100%;
  width: 100%;
}

.container {
  width: 60%;
  margin: 0 auto;
}

pre {
  padding: 10px;
  background: #444;
  color: #ddd;
}


/**************/
/* NAVIGATION */
/**************/

.nav {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px #777;
}

.nav,
.nav a {
  color: #45afb1;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav div,
.nav li {
  display: inline-block;
}

.nav .title {
  margin-left: 15px;
}

.nav .links {
  float: right;
  padding: 10px 0;
  margin-right: 15px;
}

.nav li {
  margin-left: 15px;
}


/****************/
/* HERO SECTION */
/****************/

.hero {
  width: 100%;
  background: #45afb1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkwASSjGhikgwMDM+RBcECIEUwQZgAXCVcBcwoALvlBR8NvK9zAAAAAElFTkSuQmCC) repeat;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 4em;
}

.hero p {
  font-size: 1.6em;
  font-weight: 300;
}

.hero h1,
.hero p {
  margin: 0;
}

.hero a {
  display: inline-block;
  padding: 20px 10px;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 20px;
  text-decoration: none;
  transition: .2s;
  font-size: 1.2em;
}

.hero a:hover {
  background: white;
  color: #45afb1;
}


/*****************/
/* DOCUMENTATION */
/*****************/

#docs {
  padding-top: 100px;
  color: #3b3b3b;
}

#docs h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
}

#docs h3 {
  text-decoration: underline;
}

#docs a {
  color: #45afb1;
}

#docs .warning {
  background: #cc8989;
  border: 1px solid #d66;
  padding: 10px;
}


/******************/
/* FOOTER SECTION */
/******************/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #888;
  color: #ddd;
  font-size: .8em;
}

.footer p {
  margin-left: 25px;
  display: inline-block;
}

.footer a {
  color: #ddd;
}

.footer a:hover {
  color: white;
}
